{% load static %}

<div class="sidebar">
  <!-- Brand bar -->
  <div class="brand">
    <!-- Replace with your logo -->
    <img src="{% static 'images/amafin-eno.png' %}"
         alt="Gradient able" height="200">
  </div>

  <!-- Navigation -->
  <ul class="nav flex-column mt-3">
    <li class="nav-item">
      <a class="nav-link active" href="{% url 'home' %}">
        <i class="bi bi-speedometer2"></i>
        <span>Dashboard</span>
      </a>
    </li>
    <li class="nav-item mt-4">
      <small class="text-muted px-3">Décaissement</small>
    </li>
    <li class="nav-item">
      <a class="nav-link " href="/achats">
        <i class="bi bi-layout-sidebar-inset"></i>
        <span>Achats</span>
      </a>
    </li>
    <li class="nav-item ">
      <a class="nav-link " href="/impots">
        <i class="bi bi-layout-sidebar-inset"></i>
        <span>Impots</span>
      </a>
    </li>
    <li class="nav-item ">
      <a class="nav-link " href="/salaires">
        <i class="bi bi-layout-sidebar-inset"></i>
        <span>Salaires</span>
      </a>
    </li>
    <li class="nav-item mt-4">
      <small class="text-muted px-3">Financements</small>
    </li>
    <li class="nav-item">
      <a class="nav-link " href="/financement">
        <i class="bi bi-layout-sidebar-inset"></i>
        <span>Financements</span>
      </a>
    </li>
    <li class="nav-item" style="display: none;">
      <a class="nav-link " href="/ta">
        <i class="bi bi-layout-sidebar-inset"></i>
        <span>TA</span>
      </a>
    </li>
    <li class="nav-item " style="display: none;">
      <a class="nav-link text-warning" href="/leasing">
        <i class="bi bi-layout-sidebar-inset"></i>
        <span>Leasing</span>
      </a>
    </li>
    <li class="nav-item mt-4">
      <small class="text-muted px-3">Encaissement</small>
    </li>
    <li class="nav-item ">
      <a class="nav-link" href="/incomes">
        <i class="bi bi-layout-sidebar-inset"></i>
        <span>Payments</span>
      </a>
    </li>
    <li class="nav-item ">
      <a class="nav-link " href="/escomptes">
        <i class="bi bi-layout-sidebar-inset"></i>
        <span>Escomptes</span>
      </a>
    </li>
    <li class="nav-item mt-4">
      <small class="text-muted px-3">Managements</small>
    </li>
    <li class="nav-item ">
      <a class="nav-link " href="/fx">
        <i class="bi bi-layout-sidebar-inset"></i>
        <span>FX</span>
      </a>
    </li>
    <li class="nav-item ">
      <a class="nav-link " href="/banks">
        <i class="bi bi-layout-sidebar-inset"></i>
        <span>Banks</span>
      </a>
    </li>
    <li class="nav-item" style="display: none;">
      <a class="nav-link" href="/factures">
        <i class="bi bi-layout-sidebar-inset"></i>
        <span>Factures</span>
      </a>
    </li>
    <li class="nav-item" style="display: none;">
      <a class="nav-link" href="/table">
        <i class="bi bi-layout-sidebar-inset"></i>
        <span>Table</span>
      </a>
    </li>
  </ul>
</div>
