

  .table thead {
    background-color: #f8f8f8 !important;
  }
  .table thead>tr>th {
    background-color: #f8f8f8 !important;
    padding: 12px 8px;
}

  .table thead>tr>th>a {
    padding: 0 !important;
    background: None !important;
}

  .badge {
    padding: 5px 10px;
    border-radius: 12px;
  }

  .badge-MIDDLE {
    background-color: #e0f0ff;
    color: #007bff;
  }

  .badge-JUNIOR {
    background-color: #eaffea;
    color: #28a745;
  }

  .badge-SENIOR {
    background-color: #ffeaff;
    color: #d63384;
  }

  .badge-BAN {
    background-color: #ffe5e5;
    color: #dc3545;
  }

  .badge-ACTIVE {
    background-color: #eaffea;
    color: #28a745;
  }

  .badge-VERIFICATION {
    background-color: #fff3cd;
    color: #856404;
  }

  .badge-DELETE {
    background-color: #f8d7da;
    color: #721c24;
  }

  .badge-PROGRESS {
    background-color: #e0f7fa;
    color: #17a2b8;
  }

  #Drop_btn{
    background: none;
    border: none;
    font-weight: 900;
    padding: 0;
    font-size: 20px;
    line-height: 0;
  }

  .priority-icon {
    width: 25px;
    height: 25px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: white;
    border-radius: 50%;
  }

  .priority-low {
    background-color: #4CAF50;
  }

  .priority-medium {
    background-color: #FFC107;
  }

  .priority-high {
    background-color: #F44336;
  }


  .table-responsive-custom {
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch; /* Smooth on mobile */
  }
  
  #achat-table {
    min-width: 1200px; /* or larger if needed */
    white-space: nowrap;
  }
  
  #id_debit{
    float: none;
    margin: 0;
  } 

.yadcf-filter-wrapper{
  padding: 0 !important;
  color: none !important;
  background: none !important;
  box-shadow: none !important;
}