{% load widget_tweaks %}

{% if form %}
  <form method="post"
    action="{% if form.instance.pk %}{% url 'incomes-edit' form.instance.pk %}{% else %}{% url 'incomes-table' %}{% endif %}"
    class="mb-4">

    {% csrf_token %}
    <div class="row g-3">
      <h2>{% if form.instance.pk %}Modifier{% else %}Ajouter{% endif %} un revenu</h2>

      <div class="col-md-4">
        <label class="form-label">Date du Revenu</label>
        {{ form.date_Income|add_class:"form-control" }}
      </div>

      <div class="col-md-4">
        <label class="form-label">Société</label>
        {{ form.societe|add_class:"form-select" }}
      </div>

      <div class="col-md-4">
        <label class="form-label">Document</label>
        {{ form.document|add_class:"form-select" }}
      </div>

      <div class="col-md-6">
        <label class="form-label">Banque</label>
        {{ form.banque|add_class:"form-select" }}
      </div>

      <div class="col-md-6">
        <label class="form-label">Montant</label>
        {{ form.montant|add_class:"form-control" }}
      </div>

    </div>

    <button type="submit" class="btn btn-primary mt-4">Valider</button>
    <a href="#" id="cancel-edit" class="btn btn-secondary mt-4">Annuler</a>
  </form>
{% endif %}
